<main>
    <h1>hola bienvenido {{ user.name }} -- {{user.last_name}}a handlebars!!</h1>

    {{#if hayProductos}}
        <h2> hay productos</h2>
        <ul>
            {{#each products}}
                <li> Nombre del producto: {{title}}- precio: {{price}}</li>
            {{/each}}
        </ul>
    {{else}}
        <h2> No hay productos</h2>
    {{/if}}
</main>
<script src="/public/assets/js/{{ style }}"></script>